{% autoescape off %}
Hello {{ user.get_full_name|default:user.email }},

You're receiving this email because you requested a password reset for your Maedix-Q account.

Please click the link below to set a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.

Thanks,
The Maedix-Q Team

---
This is an automated message. Please do not reply to this email.
{% endautoescape %}
