django
djangorestframework
zappa
psycopg2-binary
python-dotenv
requests
openai-agents
openai
pgvector
razorpay
django-storages
boto3
google-api-python-client
google-auth
google-auth-oauthlib
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.4.0
pillow==11.3.0
channels
daphne
websockets
PyPDF2
python-docx
pandas
openpyxl